* {
    margin: 0;
    padding: 0;
}

html {
    padding: 1%;
}

body {
    border: 2px solid #00AEEF;
    width: 100%;
    height: 100%;
}

p, a {
    font-size: 25px;
    color: #00AEEF;
    text-decoration: none;
    text-align: center;
}

button {
    color: #00AEEF;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    border: 2px solid #00AEEF;
}

.navigation-container {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.containers {
    padding: 20px;
    display: inline;
    border-left: 2px solid #00AEEF;
    border-right: 2px solid #00AEEF;
}

.home-container {
    display: grid;
    grid-template-columns: 50% 50%;
    border-top: 2px solid #00AEEF;
}

.team-container {
    display: grid;
    grid-template-columns: 6% 30% 20px 30% 20px 30% 4%;
}

.round {
    margin: 100px 0 100px 0;
    height: 75px;
    width: 30%;
    border-radius: 50%;
    padding: 100px;
    border: 2px solid #00AEEF;
    display: grid;
}

#round1 {
    grid-column-start: 2;
}

#round2 {
    grid-column-start: 4;
}

#round3 {
    grid-column-start: 6;
}

#round1:hover {
    background-color: #00AEEF;
}

#round2:hover {
    background-color: #0000FF;
}

#round3:hover {
    background-color: #FF00FF;
}

.about-container {
    display: grid;
    grid-template-columns: 8% 20% 15px 20% 15px 20% 15px 20% 8%;
}

.square {
    margin: 100px 0 100px 0;
    padding: 100px;
    height: 50px;
    width: 20%;
    border: 2px solid #00AEEF;
    border-radius: 20%;
}

#square1 {
    grid-column-start: 2;
}

#square2 {
    grid-column-start: 4;
}

#square3 {
    grid-column-start: 6;
}

#square4 {
    grid-column-start: 8;
}

.square:hover {
    background-color: #00AEEF;
    color: white;
}

.container1, .container2 {
    text-align: center;
    border-bottom: 2px solid #00AEEF;
}

.container1 {
    border-right: 2px solid #00AEEF;
}

    .container1 p, button {
        margin: 100px 0 100px 0;
    }

        button:hover {
            padding: 10px;
            background-color: #00AEEF;
            color: white;
        }

.container2 p {
    margin: 200px 0 200px 0;
}

.contact-container {
    border-top: 2px solid #00AEEF;
    padding: 15px 0 15px 0;
}

